{% load static %}

<div class="hero-banner">
    <div class="banner">
        <div class="banner-bg"></div>
        <div class="banner-content">
            <div class="banner-title" id="banner-text">
                <span class="highlight">Step</span> <span class="thinadd">into</span> elegance<br>
                <span class="highlight">Walk</span> <span class="thinadd">with</span> confidence<br>
                <span class="highlight">Choose</span> <span class="thinadd">quality</span> every day
            </div>
        </div>
    </div>
</div>
