<section class="features">

    <div class="feature-item">
        <i class="fa-regular fa-gem"></i>

        <div>
            <h4>Premium Quality</h4>
            <p>Finest Materials</p>
        </div>
    </div>

    <div class="feature-item">
        <i class="fa-solid fa-shoe-prints"></i>

        <div>
            <h4>All Day Comfort</h4>
            <p>Designed for You</p>
        </div>
    </div>

    <div class="feature-item">
        <i class="fa-solid fa-lock"></i>

        <div>
            <h4>Secure Shopping</h4>
            <p>Safe & Easy Payments</p>
        </div>
    </div>

    <div class="feature-item">
        <i class="fa-solid fa-arrows-rotate"></i>

        <div>
            <h4>Easy Returns</h4>
            <p>Hassle Free Returns</p>
        </div>
    </div>

    <div class="feature-item">
        <i class="fa-regular fa-circle-check"></i>

        <div>
            <h4>Customer Support</h4>
            <p>We're Here to Help</p>
        </div>
    </div>

</section>