{% load static %}

<section class="shop-sec-wrapper">
    <div class="shop-sec-grid">

        <!-- Women -->
        <a href="{% url 'women' %}" class="shop-sec-image-link">
            <div class="shop-sec-item">
                <img src="{% static 'images/ChatGPT Image Jul 26, 2026, 08_10_28 PM.png' %}"
                     alt="Women Collection"
                     class="shop-sec-img">
            </div>
        </a>

        <!-- Kids -->
        <a href="{% url 'kids' %}" class="shop-sec-image-link">
            <div class="shop-sec-item">
                <img src="{% static 'images/ChatGPT Image Jul 26, 2026, 08_10_28_29 PM.png' %}"
                     alt="Kids Collection"
                     class="shop-sec-img">
            </div>
        </a>

    </div>
</section>